<!-- nav -->
<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>My App</span>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" (click)="goToVehicles()" aria-label="Example icon-button with heart icon">
    <mat-icon>directions_car</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" (click)="logout()" aria-label="Example icon-button with share icon">
    <mat-icon>exit_to_app</mat-icon>
  </button>
</mat-toolbar>

<!-- main app container -->
<div class="container">
  <router-outlet></router-outlet>
</div>